@import "tailwindcss";

html,
body {
  height: 100%;
}

@layer components {
  button {
    @apply cursor-pointer;
  }

  [role="tab"] {
    @apply cursor-pointer;
  }

  [role="tablist"] button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  input:focus,
  textarea:focus,
  select:focus,
  button[role="button"]:focus {
    border-color: rgb(59, 130, 246) !important;
    border-width: 2px !important;
    outline: none !important;
  }
}